body{
    background-color:gray;
}

.first-box{
    border: 7px solid red;
    height: 163px;
    width: 250px;
    border-radius: 9px;
    box-shadow: 10px 10px rgb(132, 4, 132);
    margin: auto;
    background-color: #fff;
    padding: 0 99px 0 99px;  
}

.para1{
    text-shadow: 2px 2px blueviolet;
    font-style: italic;
    font-size: 30px;
    color:rgb(226, 43, 61);
    font-weight:bolder;
    text-align:center;
}

.green-box{
    border: 5px solid rgb(26, 168, 54); 
    display:flex;
    /* position: absolute; */
    margin: auto;
    justify-content:space-between;
    align-items:center;
    flex-direction:row;
    flex-wrap: wrap;
}

.box{
    border: 7px solid red;
    box-shadow: 10px 10px rgb(132, 4, 132);
    background-color: #fff;
    box-sizing: border-box;      
}

#box1{
    height: 194px;
    width: 264px;
    border-radius: 9px;
    padding-bottom: 10%;
    margin:4px 61% 5% 0;
}

.image{
    background-position: center;
    background-color: black;
}
#box2{
    height: 200px;
    width: 264px;
    border-radius: 9px;
    padding-bottom: 10%;
    margin: -4% 3% 0 0;
}

#box3{
    height: 200px;
    width: 264px;
    border-radius: 9px;
    padding-bottom: 17%;
    margin-bottom: 3%;
}

#box4{
    height: 200px;
    width: 264px;
    border-radius: 9px;
    padding-bottom: 16%;
    margin: 0 3% 3% 0;
}

 .box-1{
    text-shadow: 2px 2px rgb(249, 135, 213);
    font-size: 20px;
    color:rgb(14, 14, 14);
    font-weight:900;
    text-align:center;
    position: relative;
}

.box-2{
    background-image: url("./flower.png");
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 150px 150px;
}

.box-3{
    text-shadow: 2px 2px rgb(249, 135, 213);
    font-size: 27px;
    color:rgb(14, 14, 14);
    font-weight:900;
    position: relative;
}

.box-4{
    text-shadow: 2px 2px rgb(249, 135, 213);
    font-size: 20px;
    color:rgb(14, 14, 14);
    font-weight:900;
    text-align:center;
    position: relative;
}

#num{
    text-align: center;
}

#sub{
    background-color: red;
    border-radius: 10px;
}

.purple-border{
    border: 7px solid purple;
    margin-top: 3%;
    display: inline-block;
    margin-left: 34%;
    height: 435px;
    width: 500px;
    background-color: green;
}

.fruveg{
    display: flex;
    justify-content: space-between;
}

#para1{
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
}

.style{
    font-style:italic;
    font-size: 19px;
    text-align: center;
    border: 1px solid rgb(14, 14, 13);
    background-color:rgb(242, 242, 90);
}

.bolditalic{
    font-weight: bolder;
    
}

.fruits{
    height: 186px;
    width: 240px;    
}
.vegetables{
    height: 186px;
    width: 240px;  
}

.other{
    height: 151px;
    width: 512px;  
    margin-top: 14px;   
}

.fsfv{
    font-size: 10px;
    font-weight: bold;
}

.sticky{
    position: sticky;
    bottom: 90px;
    color: red;
    border: 7px solid red;
    height: 77px;
    width: 235px;
    border-radius: 20px;
    box-shadow: 10px 10px rgb(132 4 132);
    margin: auto;
    background-color: rgb(152, 237, 33);
    padding: 0 99px 0 99px;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    
}

.bolder{
    width: 234px;
    margin-left: -78px;
}
.bold{
    width: 121px;
    margin-right: -72px;
}


#bolder{
    font-weight: bolder;
    font-size:20px;
    font-style: italic;
}

#bold{
    font-weight: bold;
    font-style: italic;
    font-size:15px;
}