*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
    background-image: linear-gradient(to right,  red, green, yellow);
}
.container{
    border: 4px solid red;
    border-radius: 23px;
    width: 1000px;
    background-color: rgb(133, 228, 228); 
    display: flex;
    justify-content: center;
    margin-left: 260px;
    margin-top: 2%;
}

li{
    padding-left: 506px;
}
ul{
    text-indent: -286px;
}

.cyan-container{
    margin-top: 1.5%;
    padding-top: 0%;
    height: 200px;
    border: 2px solid red;
    border-radius: 23px;
    background-color: rgb(101, 245, 142); 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;
}
hr{
    margin-top:0px;
    background-color: black;
}

.box{
    border: 2px solid green;
    width: 410px;
    height: 80px;
    border-radius: 23px;
    background-color: cyan; 
    margin-top: -2%;
    padding-left: 1%;
}

.box4{
    margin-top: -96px;
}

h3{
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-color:  red;
    text-align: center;
    padding-bottom: 1%;
    margin-top: 2%;
    background-image: linear-gradient(to right,  red, yellow, red);
}
.radialcontainer{
    border: 2px solid rgb(2, 70, 2);
    background-image: radial-gradient(blue, green);
    height:200px;
    width: 100%;
    border-radius: 10px;
    margin-top:1%;
}

.yellowbox{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-top: 2%;
    line-height: 34px;
}

.y1,.y2,.y3,.y4{ 
    background-color: yellow;
    height:120px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid red;
}
#y4{
    margin-right: 9%;
}
.underline{
    text-align:center;
    text-decoration-line: underline;
    text-decoration-color: red;
    color: red;
}

.capital{
    text-align: center;
    text-decoration: underline;
    color: red;
}

.lastcontainer{
    border: 2px solid red;
    margin-top: 2%;
    margin-bottom: 3%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(4,auto);
    gap: 10px;

    
}

.boxes{
    color: white;
}

h1{
    font-size:larger;
}

.grid1{
    grid-column:1/5;
    grid-row:1/2 ;
    background-color: red; 
    text-align: center;
    height: 32px;

}
.grid2{
    grid-column:1/2;
    grid-row:2/3 ; 
    background-color:green;
    text-align: center;
    font-size: 22px;
    height: 59px;
    
}
.grid3{
    grid-column:2/3;
    grid-row:2/3 ; 
    background-color: rgb(51, 141, 245);
    font-size: 21px;
    height: 59px;  
}
.grid4{
    grid-column:3/4;
    grid-row:2/3 ; 
    background-color: blue;
    font-size: 16px;
    height: 59px;   
}
.grid6{
    grid-column:1/4;
    grid-row:3/4 ; 
    background-color: orange;  
    font-size: 20px;
    height: 53px;
}
.grid5{
    grid-column:4/5;
    grid-row:2/4 ; 
    background-color: black;
    height: 120px;
}
.grid7{
    grid-column:1/5;
    grid-row:4/5 ; 
    background-color: rgb(78, 233, 241);
    text-align: center;
    color: black;
}

